


#grid-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  width: 500px;
  height: 450px;
  border: 2px solid black;
  padding: 10px;
}

.grid-row {
  display: grid;
  border: 2px solid black;
}
  header {
    text-align: center;
  }

  .grid-cell {
    display: grid;
    height:50px;
    width: 50px;
    box-sizing: border-box;
    border: 2px black solid;
    align-self: flex-end;
    margin: 7px 5px 0 5px;


}


  p {
    display: inline;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    flex-shrink: 1;
    
}


.row2 {
  display: flex;
  align-items: center;
  padding: 5px;
}

.correct {
  color: white;
  background-color: rgba(0, 128, 0, 0.642);
}

.close {
  color: rgba(255, 255, 255, 0.745);
  background-color: rgba(255, 149, 0, 0.775);
}

.incorrect {
  color: white;
  background-color: rgba(255, 0, 0, 0.703);
}



.key {
    width: 50px;
    height: 50px;
    border-color: rgb(255, 122, 144);
    display: flex;
    flex-shrink: 1;
}

.row {
    display: flex;
    justify-content: center;

}

#row-2 .key {
    margin: 0px 5px 0px 0px;
}


#spacebar {
    width: 200px;
}

#del {
    width: 100px;
}

/* button {
  background-color: rgba(255, 255, 255, 0.447);
} */

#enter-button {
  background-color: pink;
  margin-bottom: 10px;
}

#playAgain {
  background-color: pink;
  margin-bottom: 10px;
}


/* #grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  padding: 5px;
  margin: 0 auto;
  border: solid black 2px;
  margin-bottom: 20px;
} */
